:root {
  --color-primary: #f5cac2;
  --color-primary-trans: rgba(245, 202, 194, 0.9);
  --color-primary-light: #fae5df;
  --color-primary-dark: #ed7966;
  --color-secondary: #303179;
  --color-secondary-dark: #141850;
  --color-grey-light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //sets 1rem = 10px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.page-container {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.center-V {
  display: flex;
  align-items: center;
}
